<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择范围</title>

</head>
<body>
<style>
    body{
        height: 100vh;
    }
    #app{
        height: 100%;
        width: 100%;
        padding: 0!important;
    }
    .page-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction:column;
    }
    .body{
        flex: 1;
    }
    #map-container{
        height: 100%;
        width: 100%;
    }
    .amap-logo{
        display: none!important; /*去掉高德地图logo*/
    }
    .amap-copyright {
        opacity:0!important; /*去掉高德的版本号*/
    }
    .top{
        padding: 12px 0px;
    }
    .msg-box{
        padding-bottom: 6px;
    }
    .foot{
        padding: 12px 0px;
        display: flex;
    }
    .foot-m{
        flex: 1;
        text-align: center;
    }
    .app-loading {
        position: fixed;
        z-index: 100000000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 3.3em;
        height: 3.3em;
    }

    .app-loading svg {
        width: 100%;
        transform-origin: center;
        animation: rotate 2s linear infinite;
    }

    .app-loading circle {
        fill: none;
        stroke: #2196f3;
        stroke-width: 2;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dashoffset: -125px;
        }
    }
    .hide{
        display: none!important;
    }
    .search-rel {
        position: absolute;
        z-index: 999999;
        background-color: #fff;
        left: 24px;
        right: 24px;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .2);
    }

    .search-rel ul.search-rel-list {
        padding: 0;
        margin: 0 0 12px 0;
        border-bottom: 1px solid #f5f5f5;
    }

    .search-rel .search-rel-list li {
        list-style: none;
        padding: 6px 12px;
        cursor: pointer;
        color: #8c8c8c;
    }

    .search-rel .search-rel-list li + li {
        border-top: 1px dashed #efefef;
    }

    .search-rel .search-rel-list li:hover {
        background-color: #fafafa;
    }

    .search-rel .search-rel-list li b {
        padding-right: 12px;
        color: #000;
    }

    .search-rel .arco-pagination {
        margin-bottom: 8px;
    }
</style>
<div id="app-loading" class="app-loading">
    <svg viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20"></circle>
    </svg>
</div>
<div id="app" style="display: none">
    <div class="page-container">
        <div class="top">
            <div class="msg-box"><a-alert type="warning" show-icon >请先在地图范围类点击三个点以此生成多边形，长按多边形白色的点进行拖动，改变其形状。其中不透明的点，点击时会删除！鼠标滚轮放大缩小地图。</a-alert></div>
            <div class="input-box" @click="relShow=true">
                <a-input-search id="map-select-search-input" placeholder="输入关键字查找地区" v-model:model-value="searchValue" @press-enter="doSearch" @search="doSearch"></a-input-search>
            </div>
            <div class="search-rel" v-show="searchValue&&searchValue!==''&&relShow">
                <div v-if="list.length>0">
                    <ul class="search-rel-list">
                        <li v-for="item in list" @click="selectRel(item)"><b>{{ item.name }}</b>{{ item.address }}</li>
                    </ul>
                    <a-pagination size="small" v-model:current="page" :page-size="pageSize" :total="count"
                                  @change="pageChange"/>
                </div>
                <div v-else style="color: #d9d9d9;padding: 16px 24px">
                    (未找到相关信息)
                </div>
            </div>

        </div>
        <div class="body">
            <div id="map-container"></div>
        </div>
        <div class="foot">
            <div class="foot-l">
                <a-button status="danger" @click="clearDraw">清除绘制</a-button>
            </div>
            <div class="foot-m">
                <a-button type="text" @click="recallDraw" :disabled="!canRecall">
                    <span role="img" aria-label="fast-backward" class="anticon anticon-fast-backward"><svg class="" data-icon="fast-backward" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="0 0 1024 1024" focusable="false"><path d="M517.6 273.5L230.2 499.3a16.14 16.14 0 000 25.4l287.4 225.8c10.7 8.4 26.4.8 26.4-12.7V286.2c0-13.5-15.7-21.1-26.4-12.7zm320 0L550.2 499.3a16.14 16.14 0 000 25.4l287.4 225.8c10.7 8.4 26.4.8 26.4-12.7V286.2c0-13.5-15.7-21.1-26.4-12.7zm-620-25.5h-51.2c-3.5 0-6.4 2.7-6.4 6v516c0 3.3 2.9 6 6.4 6h51.2c3.5 0 6.4-2.7 6.4-6V254c0-3.3-2.9-6-6.4-6z"></path></svg></span>
                    后退
                </a-button>
                &nbsp;
                <a-button type="text" @click="forwardDraw" :disabled="!canForward">
                    <span role="img" aria-label="fast-forward" class="anticon anticon-fast-forward"><svg class="" data-icon="fast-forward" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="0 0 1024 1024" focusable="false"><path d="M793.8 499.3L506.4 273.5c-10.7-8.4-26.4-.8-26.4 12.7v451.6c0 13.5 15.7 21.1 26.4 12.7l287.4-225.8a16.14 16.14 0 000-25.4zm-320 0L186.4 273.5c-10.7-8.4-26.4-.8-26.4 12.7v451.5c0 13.5 15.7 21.1 26.4 12.7l287.4-225.8c4.1-3.2 6.2-8 6.2-12.7 0-4.6-2.1-9.4-6.2-12.6zM857.6 248h-51.2c-3.5 0-6.4 2.7-6.4 6v516c0 3.3 2.9 6 6.4 6h51.2c3.5 0 6.4-2.7 6.4-6V254c0-3.3-2.9-6-6.4-6z"></path></svg></span>
                    前进
                </a-button>
            </div>
            <div class="foot-r">
                <a-button type="primary" shape="check" @click="submit"><icon-check></icon-check> 确定</a-button>
            </div>
        </div>
    </div>
</div>
<script src="/tpscriptvuecurd/vue3/vue.global.prod.js?3.2.47" charset="utf-8"></script>
<script src="/tpscriptvuecurd/arco/arco-vue.min.js?2.44.2" charset="utf-8"></script>
<script src="/tpscriptvuecurd/arco/arco-vue-icon.min.js?2.44.2" charset="utf-8"></script>
<script>
    function getQueryVariable(variable)
    {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i=0;i<vars.length;i++) {
            let pair = vars[i].split("=");
            if(pair[0].toString() === variable.toString()){return pair[1];}
        }
        return false;
    }
    let searchRess = {};
    window.map=null;
    window.polygon=null;
    window.polyEditor=null;
    window.markers=[];
    window.placeSearch=null;

    const option = {
        setup(props, ctx) {
        },
        data() {
            return {
                searchValue:null,
                lastSearch:null,
                oldPolygonPaths:[],
                nowPolygonPathsIndex:-1,
                list:[],
                page:1,
                pageSize:10,
                count:0,
                relShow:false,
                marker:null,
            }
        },
        computed:{
            canRecall(){
                return this.nowPolygonPathsIndex>0&&this.oldPolygonPaths[this.nowPolygonPathsIndex-1];
            },
            canForward(){
                return this.oldPolygonPaths[this.nowPolygonPathsIndex+1];
            },
        },
        mounted(){
            let v= getQueryVariable('v');
            ['/tpscriptvuecurd/arco/arco.min.css?v='+v,
                '/tpscriptvuecurd/css/vue.css?v='+v,
            ].forEach(val=>{
                if(!val)return;
                let styleEl = document.createElement('link');
                styleEl.setAttribute('rel', 'stylesheet');
                styleEl.setAttribute('media','all');
                styleEl.setAttribute('href', val);
                document.head.appendChild(styleEl);
            })

            const initFunc = 'initializeBmap';
            window[initFunc] = () => {
                AMap.plugin(['AMap.Geocoder', 'AMap.PlaceSearch','AMap.DistrictSearch','AMap.PolygonEditor'], () => {//异步同时加载多个插件
                    if (document.getElementById('app')) document.getElementById('app').style.display = 'block'
                    if (document.getElementById('app-loading')) document.getElementById('app-loading').style.display = 'none'
                    this.initMap()
                })
            };
            window._AMapSecurityConfig = {
                securityJsCode: '604a1f9d93f234478330d19b97908c51',
            }

            let jsapi = document.createElement('script');
            jsapi.src = 'https://webapi.amap.com/maps?v=2.0&key=103028a8c0d4cbd05993f251c2a2ead7&&callback=' + initFunc + '&';
            document.head.appendChild(jsapi);
            document.addEventListener('click', e => {
                if (e.target.closest('.search-rel') || e.target.matches('.search-rel') || e.target.closest('.input-box') || e.target.matches('.input-box')||(e.target.closest('li')&&e.target.closest('li').matches('.arco-pagination-item'))) {
                    return;
                }

                this.relShow = false;
            })
        },
        watch:{
            searchValue(){
                this.doSearch()
            },
        },

        methods: {
            initMap(){
                let ct=getQueryVariable('center');
                let defCenter = ct&&ct!==','?new AMap.LngLat(ct.split(',')[0], ct.split(',')[1]):new AMap.LngLat(120.12, 30.19);
                //初始化地图对象
                window.map = new AMap.Map('map-container', {
                    layers: [
                        // 卫星
                        new AMap.TileLayer.Satellite(),
                        // 路网
                        new AMap.TileLayer.RoadNet()
                    ],
                    center: defCenter
                });
                //设置显示地图的中心点和级别
                window.map.setZoomAndCenter(9, defCenter);  // 初始化地
                window.geocode = new AMap.Geocoder();

                window.map.on('complete',  ()=> {
                    const windowInit=()=>{
                        this.drawBounds();
                        this.mapInput();
                    };
                    if(window.isWindowSuccessInit){
                        Vue.nextTick(windowInit);
                    }else{
                        window.windowSuccessInit=()=>{
                            Vue.nextTick(windowInit);
                        }
                    }
                });
            },
            drawBounds(){
                let polyEditorChange=()=>{
                    const lngLats=window.polygon.getPath();
                    console.log(lngLats);
                    //todo
                    if(lngLats&&lngLats.length>=3){
                        this.pushOldPolygonPaths(lngLats)
                    }
                };
                //点击事件
                const addPolygonFun=params=>{
                    if(window.polygon.getPath()&&Object.keys(window.polygon.getPath()).length>0&&Object.keys(window.polygon.getPath()[0]).length>0){
                        return;
                    }
                    if(window.markers.length>1){
                        const polygonArr= [new AMap.LngLat(params.lnglat.lng, params.lnglat.lat)];
                        window.markers.forEach((v)=>{
                            polygonArr.push(v.getPosition())
                            v.remove();
                        })
                        window.markers=[];
                        this.setLngLats(polygonArr);
                        window.polyEditor.open();
                        polyEditorChange();
                    }else{
                        // 创建点覆盖物
                        const marker = new AMap.Marker({
                            position:[params.lnglat.lng, params.lnglat.lat]
                        }); // 创建点
                        marker.setMap(window.map)
                        window.markers.push(marker)
                    }
                };

                //设置初始化选中
                const initSet=(setCenter)=>{
                    setCenter=typeof setCenter==='undefined'?true:!!setCenter;
                    const polygonLngLatArr=window.mapRangeSelectedPaths?JSON.parse(window.mapRangeSelectedPaths):[];
                    const polygonLngLat=[];
                    if(polygonLngLatArr.length>0){
                        polygonLngLatArr.forEach(v=>{
                            polygonLngLat.push(new AMap.LngLat(v[0],v[1]))
                        })
                    }
                    window.polygon =new AMap.Polygon({
                        path:polygonLngLat,
                        strokeColor : "#096dd9",
                        strokeWeight : 1.5,
                        strokeOpacity : 0.9,
                        fillColor: "#69c0ff",
                        fillOpacity: 0.3
                    });
                    window.map.addOverlay(window.polygon);
                    window.polyEditor = new AMap.PolygonEditor(window.map);
                    window.polyEditor.addAdsorbPolygons([window.polygon]);
                    window.polyEditor.setTarget(window.polygon);
                    window.polyEditor.on('addnode',polyEditorChange)
                    window.polyEditor.on('removenode',polyEditorChange)
                    window.polyEditor.on('adjust',polyEditorChange)
                    window.polyEditor.on('move',polyEditorChange)
                    window.polyEditor.on('add',polyEditorChange)

                    if(polygonLngLat.length>0){
                        //显示最佳比例尺
                        // window.map.setFitView(polygonLngLat);
                        window.map.setFitView([window.polygon]);
                        window.polyEditor.open();
                    }else if(window.mapCenter&&setCenter){
                        window.map.setZoomAndCenter(13,new AMap.LngLat(window.mapCenter[0], window.mapCenter[1]));
                    }

                }

                if(window.mapDistrict){
                    //加载行政区划插件
                    let district = new AMap.DistrictSearch({
                        subdistrict: 0,   //获取边界不需要返回下级行政区
                        extensions: 'all',  //返回行政区边界坐标组等具体信息
                        level: 'city'  //查询行政级别为 市
                    });
                    //行政区查询
                    district.setLevel('city');
                    district.search(window.mapDistrict,(status, result)=> {
                        console.log(result);
                        if(!result.districtList||!result.districtList[0]||!result.districtList[0].boundaries||result.districtList[0].boundaries.length===0){
                            ArcoVue.Notification.error({content: '无相关范围'});
                            //点击事件
                            window.map.on("click", addPolygonFun);
                            initSet();
                            return;
                        }
                        const pointsArr=[],polygonBgList=[];
                        for(let i in result.districtList[0].boundaries){
                            const regionLngLats=[];
                            result.districtList[0].boundaries[i].forEach(lnglatObj=>{
                                const lnglat= new AMap.LngLat(lnglatObj.lng, lnglatObj.lat);
                                regionLngLats.push(lnglat);
                                pointsArr.push(lnglat);
                            });

                            //创建面对象
                            const polygonBg = new AMap.Polygon({strokeColor : "#d3adf7", strokeWeight : 3, strokeOpacity : 0.9, fillColor: "#d3adf7", fillOpacity: 0,path:regionLngLats});
                            //向地图上添加行政区划面
                            window.map.addOverlay(polygonBg);
                            //点击事件
                            polygonBg.on("click", addPolygonFun);
                            polygonBgList.push(polygonBg)
                        }
                        //显示最佳比例尺
                        // window.map.setViewport(pointsArr);
                        window.map.setFitView(polygonBgList);
                        initSet(false);
                    });
                }else{
                    //点击事件
                    window.map.on("click", addPolygonFun);
                    initSet();
                }
            },
            mapInput(){
                let initplaceSearch= (city)=>{
                    //创建搜索对象
                    window.placeSearch = new AMap.PlaceSearch({
                        city: city,
                        pageSize: 10, //每页结果数,默认10
                    });
                }
                let center='';
                if(window.mapDistrict){
                    rel=window.mapDistrict.match(/省(.+市)/u)
                    if(rel&&rel[1]){
                        center=rel[1];
                    }else{
                        rel=window.mapDistrict.match(/(.+市)/u)
                        if(rel&&rel[1]){
                            center=rel[1];
                        }
                    }
                }
                if(center){
                    initplaceSearch(center);
                }else if(window.mapCenter){
                    geocode.getAddress(new AMap.LngLat(window.mapCenter[0], window.mapCenter[1]), (status, rs) => {
                        initplaceSearch(rs.regeocode.addressComponent.city ? rs.regeocode.addressComponent.city : rs.regeocode.addressComponent.province);
                    })
                }else{
                    initplaceSearch('杭州市');
                }
            },
            doSearch(){
                if (this.searchValue===null||this.searchValue.replace(/\n/g, '') === '') {
                    return;
                }
                window.placeSearch.setPageIndex(1)
                this.setSearchData();
            },
            pageChange(page) {
                window.placeSearch.setPageIndex(page)
                this.setSearchData();
            },
            setSearchDataVal(result) {
                if (!result.poiList) {
                    if (this.page == 1) {
                        this.count = 0;
                        this.list = [];
                    } else {
                        this.page--;
                        this.pageChange(this.page);
                    }
                } else {
                    if (result.poiList.pois.length < 10 || (typeof searchRess[this.searchValue][this.page + 1] !== 'undefined' && (!searchRess[this.searchValue][this.page + 1].poiList || !searchRess[this.searchValue][this.page + 1].poiList.length))) {
                        this.count = 10 * (this.page - 1) + result.poiList.pois.length;
                    } else {
                        this.count = result.poiList.count;
                    }
                    this.list = result.poiList.pois;
                }
                this.relShow = true;
            },
            setSearchData() {
                searchRess[this.searchValue] = searchRess[this.searchValue] || {};
                if (searchRess[this.searchValue][this.page]) {
                    this.setSearchDataVal(searchRess[this.searchValue][this.page])
                } else {
                    window.placeSearch.search(this.searchValue, (status, result) => {
                        searchRess[this.searchValue][this.page] = result;
                        this.setSearchDataVal(result)
                    });
                }
            },
            pushOldPolygonPaths(paths){
                let pathArr=[];
                for(let i in paths){
                    pathArr.push([paths[i].lng, paths[i].lat]);
                }
                if(this.oldPolygonPaths[this.nowPolygonPathsIndex]&&pathArr.toString()===this.oldPolygonPaths[this.nowPolygonPathsIndex].toString()){
                    //没有改变
                    return;
                }
                this.nowPolygonPathsIndex++;
                this.oldPolygonPaths[this.nowPolygonPathsIndex]=pathArr;
                if(this.canForward){
                    for(let i=(this.nowPolygonPathsIndex+1);i<this.oldPolygonPaths.length;i++){
                        this.oldPolygonPaths.splice(i,1)
                    }
                }
            },
            clearDraw(){
                this.setLngLats([])
                this.pushOldPolygonPaths([]);
            },
            recallDraw(){
                if(!this.canRecall){
                    return;
                }
                this.nowPolygonPathsIndex--;
                let paths=[];
                this.oldPolygonPaths[this.nowPolygonPathsIndex].forEach(v=>{
                    paths.push(new AMap.LngLat(v[0], v[1]))
                })
                this.setLngLats(paths)
                window.polyEditor.close();
                setTimeout(()=>{
                    window.polyEditor.open();
                },40)
            },
            forwardDraw(){
                if(!this.canForward){
                    return;
                }
                this.nowPolygonPathsIndex++;
                let paths=[];
                this.oldPolygonPaths[this.nowPolygonPathsIndex].forEach(v=>{
                    paths.push(new AMap.LngLat(v[0], v[1]))
                })
                this.setLngLats(paths)
                window.polyEditor.close();
                setTimeout(()=>{
                    window.polyEditor.open();
                },40)
            },
            setLngLats(paths){
                window.polygon.setPath(paths);
                if(paths.length===0){
                    window.polyEditor.close();
                }
            },
            selectRel(rel){
                window.map.setZoom(12);
                const lngLat = rel.location;
                if (!this.marker) {
                    this.marker = new AMap.Marker({
                        position: lngLat,
                        icon: new AMap.Icon({
                            image: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_rs.png'
                        })
                    }); // 创建点
                    this.marker.setMap(window.map);
                }
                this.marker.setPosition(lngLat)

                window.map.setZoomAndCenter(18, lngLat);
                this.relShow = false;
            },
            submit(){
                if(!window.polygon){
                    this.$message.warning('请先绘制一个区域')
                    return;
                }
                const lngLats=window.polygon.getPath();
                if(!lngLats||lngLats.length<3){
                    this.$message.warning('请先绘制一个区域')
                    return;
                }
                let pathArr=[];
                for(let i in lngLats){
                    pathArr.push([lngLats[i].lng, lngLats[i].lat]);
                }
                if(pathArr.length===0){
                    this.$message.warning('请先绘制一个区域')
                    return;
                }
                window.onMapRangeSelected(pathArr);
            },
        }
    };

    window.app = Vue.createApp(option)
    app.use(ArcoVue);
    app.use(ArcoVueIcon);
    app.mount('#app')
</script>
</body>
</html>