body, html{
    height: auto;
    min-height: 100%;
}
body{
    color: rgba(0,0,0,.85);
    box-sizing: border-box;
    font-family: Inter,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,noto sans,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}
fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0
}
legend {
    color: inherit;
    display: block;
    font-size: 1.5em;
    line-height: inherit;
    margin-bottom: .5em;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    width: 100%
}

#app{
    background-color: #fff;
    border-radius: 6px;
}
#app *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.app-loading {
    position: fixed;
    z-index: 100000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 3.3em;
    height: 3.3em;
}

.app-loading svg {
    width: 100%;
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

.app-loading circle {
    fill: none;
    stroke: rgb(var(--primary-6));
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dashoffset: -125px;
    }
}
.hide{
    display: none!important;
}
a {
    background-color: transparent;
    color: rgb(var(--primary-6));
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color .3s;
}
/********滚动条********/
/*chrome--------------------------------------------start*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    transition: all .3s;
    box-shadow: inset 2px 2px 4px #c9cdd4,inset -2px -2px 4px #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9aeb8;
    border-radius: 12px;
    transition: all .3s;
    border: 1px solid #e5e6eb;
    box-sizing: border-box;
    min-height: 3%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b7785;
    border-color: #fff;
}
/********************************************************************/

/********************************/

/*transition 缩放进出*/
.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.bounce-enter-active {
    animation: bounce-in .8s;
}
.bounce-leave-active {
    animation: bounce-in .8s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.bounce-min-enter-active {
    animation: bounce-min-in .8s;
}
.bounce-min-leave-active {
    animation: bounce-min-out .8s;
}
@keyframes bounce-min-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.16);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-min-out {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}
.slide-fade-enter-active {
    animation: slide-fade-in .8s;
}
.slide-fade-leave-active {
    animation: slide-fade-in .8s reverse;
}
@keyframes slide-fade-in {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.to-right-enter-active {
    transform-origin: left center 0;
    animation: to-right-in .8s;
}
.to-right-leave-active {
    transform-origin: left center 0;
    animation: to-right-out .4s;
}
@keyframes to-right-in {
    0% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(-20deg);
    }
    75% {
        transform: rotateY(10deg);
    }
    100% {
        transform: rotateY(0);
    }
}
@keyframes to-right-out {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(90deg);
    }
}
/****************************************************************/
.red{
    color: #F53F3F;
}
.red:hover{
    color: #A1151E;
}
.yellow{
    color: #FF7D00;
}
.yellow:hover{
    color: #A64500;
}
a.red:hover,a.yellow:hover{
    opacity: .75;
}

/**********************************************************************/
.left-cate-div-parent{
    padding-right: 24px;
    background-color: #f0f2f5;
}
.left-cate-div{
    background-color: #fff;
    height: 100%;
    border-radius: 6px;
    max-height: calc(100vh - 48px);
    min-width: 240px;
    display: flex;
    flex-direction: column;
}
.left-cate-div .arco-pro-table-list-toolbar-title{
    padding:8px 16px;
    border-bottom: 1px solid #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-cate-list{
    padding: 8px 16px 8px 16px;
    flex: 1;
    overflow: auto;
}
.left-cate-tool{
    display: flex;
    align-items: center;
    padding: 12px 4px;
    border-bottom: 1px solid #f0f2f5;
}
.left-cate-tool>div{
    margin: 0 6px;
}
/***************************************************/
/****************************************************************/
.curd-filter-box .arco-spin{
    width: 100%;
}
.curd-filter-box .filter-box-div {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: 50% 50%;
    align-items: stretch;
}

.curd-filter-box .filter-box-div + .filter-box-div, .curd-filter-box .filter-box-div + .filter-box-title {
    border-top: 4px #f0f2f5 solid;
    padding-top: 8px;
}

.curd-filter-box .filter-item-box {
    padding-left: 24px;
}

.curd-filter-box .filter-item-box {
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid #E8F3FF;
    transition: all .3s ease;
}

.curd-filter-box .filter-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.curd-filter-box .filter-item-l {
    padding: .2em .5em .2em 0;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 1.147;
    width: 7em;
    max-width: calc(100% - 256px);
}

.curd-filter-box .filter-item-r {
    flex: 1;
}

.curd-filter-box .filter-item-check-item {
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    margin: 0 .1em;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0 .5em;
    border-radius: 6px;
    transition: all .3s;
}

.curd-filter-box .input-value-div,.curd-filter-box .region-value-div {
    margin: 0 .1em;
    padding: .05em .5em;
}

.curd-filter-box .filter-item-check-item:not(.filter-item-input-group):hover {
    border-color: #C3E7FE;
    background-color: #E8F3FF;
}

.curd-filter-box .filter-item-check-item.active {
    color: rgb(var(--primary-6));
}

.curd-filter-box .filter-item-check-item.active:hover {
    border-color: transparent;
    background-color: transparent;
    color: rgb(var(--primary-8));
}

.curd-filter-box .filter-item-check-item.active .arco-calendar-range-picker-input, .curd-filter-box .filter-item-check-item.active .arco-input,.curd-filter-box .filter-item-check-item.active .arco-input-sm {
    color: rgb(var(--primary-8));
}

.curd-filter-box .filter-item-check-item .arco-input-group .arco-btn-sm, .curd-filter-box .input-value-div .arco-input-group .arco-btn-sm {
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.curd-filter-box .filter-item-check-item-value {
    padding: 2px 0;
}
.filter-select-show-item-box .arco-dropdown-option-content{
    width: 100%;
}
.filter-select-show-item-box .arco-dropdown-option-content > a.filter-select-show-item,.filter-select-show-item-box .arco-dropdown-option > a.filter-select-show-item{
    display: flex;
    align-items: center;
}
.filter-select-show-item-box .filter-select-show-title {
    padding-right: 4px;
    flex: 1;
}

.filter-select-show-item-box .filter-select-show-item .anticon {
    display: none;
    color: #072CA6;
    line-height: inherit;
}
.filter-select-show-item-box .filter-select-show-item{
    color: rgba(0,0,0,.85);
}
.filter-select-show-item-box .filter-select-show-item.checked {
    color: rgb(var(--primary-6));
}

.filter-select-show-item-box .filter-select-show-item.checked .anticon {
    display: inline-block;
}

.curd-filter-box .filter-box-title {
    color: #c9cdd4;
    line-height: 1em;
    padding-left: 6px;
    font-weight: bold;
}
.filter-menu-box .filter-select-show-item-title{
    margin-top: 6px;
    color:#c9cdd4;
    border-left: 2px solid rgb(var(--primary-6));
    padding-left: 4px;
}
.filter-menu-box:not(.no-grid) .filter-select-show-item-box{
    display: grid;
    grid-column-gap: 12px;
}
.filter-menu-box.grid-column-2 .filter-select-show-item-box{
    grid-template-columns: 1fr 1fr;
}
.filter-menu-box.grid-column-3 .filter-select-show-item-box{
    grid-template-columns: 1fr 1fr 1fr;
}
.filter-menu-box.grid-column-4 .filter-select-show-item-box{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.filter-sub-btn-box .arco-divider-horizontal.arco-divider-with-text{
    margin: 0.5em 0;
}
.filter-box-bottom-do{
    width: 100%;
    height: 1px;
    position: relative;
    margin-top: -1px;
}
.filter-box-bottom-do:after{
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    position: absolute;
}
.filter-box-dropdown .arco-dropdown-list-wrapper{
    max-height: 90vh;
}
.curd-filter-box.empty-filter-items .filter-box-bottom-do{
    display: none;
}
.curd-filter-box.empty-filter-items .arco-spin{
    display: none;
}
/****************************************************************/
.arco-table-list-toolbar{
    overflow-x: auto;
    overflow-y: hidden;
}
.arco-table-list-toolbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
    line-height: 64px;
}
.arco-table-list-toolbar-left{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding-right: 6px;
}
.arco-table-list-toolbar-right{
    display: flex;
    justify-content: flex-end;
}
.arco-table-list-toolbar-title {
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-family: PingFangSC-Medium;
    display: flex;
    align-items: center;
}
.arco-table-list-toolbar-title-text{
    flex: 1;
}
.arco-space-align-center{
    align-items: center;
}
.arco-space {
    display: inline-flex;
}
/****************************************************************/

/****************************************************************/
.curd-table-box{
    padding: 0 20px 20px 20px;
}
.curd-table-box .arco-table:not(.arco-table-border-header-cell) .arco-table-element>thead>.arco-table-tr:first-child>.arco-table-th:first-child{
    border-top-left-radius: 8px;
}
.curd-table-box .arco-table:not(.arco-table-border-header-cell) .arco-table-element>thead>.arco-table-tr:last-child>.arco-table-th:first-child{
    border-bottom-left-radius: 8px;
}
.curd-table-box .arco-table:not(.arco-table-border-header-cell) .arco-table-element>thead>.arco-table-tr:first-child>.arco-table-th:last-child{
    border-top-right-radius: 8px;
}
.curd-table-box .arco-table:not(.arco-table-border-header-cell) .arco-table-element>thead>.arco-table-tr:last-child>.arco-table-th:last-child{
    border-bottom-right-radius: 8px;
}
.curd-table-box .arco-table.arco-table-border-header-cell:not(.arco-table-border) .arco-table-element{
    border-collapse: collapse;
}
.curd-table-box .arco-table.arco-table-border-header-cell:not(.arco-table-border) .arco-table-th{
    border-left: 1px solid var(--color-neutral-3);
    border-top: 1px solid var(--color-neutral-3);
}
/****************************************************************/
.curd-table-row-step-div{
    display: flex;
}
.curd-table-row-step-title{
    overflow: hidden;text-overflow: ellipsis;
}
.curd-table-row-step-other{
    flex: 1
}
.curd-table-row-step-other-more{
    color:#c9cdd4!important;
    margin-left: 2px;
}
.curd-table-row-step-other-more:hover{
    color:#4e5969!important;
}
.curd-table-row-step-other .arco-tag:first-child{
    margin-left: 2px;
}
.curd-table-row-step-other .arco-tag+.curd-table-row-step-other-more{
    margin-left: 0;
}
.open-child-a-class:hover,.open-step-a-class:hover{
    opacity: .78;
}
.curd-table-action-divider{
    margin: 0;
}
.curd-table-action-btns a:hover,a.arco-dropdown-link:hover,.arco-table-list-toolbar a:hover{
    opacity: .65;
}
.curd-table-action-btns a:active,a.arco-dropdown-link:active,.arco-table-list-toolbar a:active{
    opacity: 1;
}
/****************************************************************/
.body-iframe-drawer .arco-drawer .arco-drawer-body{
    padding: 0;
}
.body-iframe-drawer .arco-drawer .arco-drawer-body iframe{
    height: 100%;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
/****************************************************************/


/********pub-默认编辑页面********/
.vuecurd-def-box{
    padding-bottom: 62px;
}
.vuecurd-def-box .field-box {
    display: flex;
}

.vuecurd-def-box .field-box > .l {
    flex: 1;
    width:0;
}

.vuecurd-def-box .ext-span {
    margin-left: 8px;
}
.vuecurd-def-box .foot{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.99));
    z-index: 1;
}
.vuecurd-def-box .foot>.btns{
    text-align: center;

}
.vuecurd-def-box .foot>.btns>button{
    margin-bottom: 24px;
}
.vuecurd-def-box .arco-form-item-label{
    line-height:1.57;
    padding-top: 5px;
}
.vuecurd-def-box .arco-form-item-label label{
    white-space: normal;
    min-height: 32px;
    height: auto;
}
.vuecurd-def-box .arco-form-item-control.has-success .arco-form-explain{
    display: none;
}
.vuecurd-def-box .form-item-row>.arco-form-item-label{
    padding-right: .5em;
}
.vuecurd-def-box .arco-upload-picture-card-wrapper{
    display: block;
}
.vuecurd-def-box .field-group-fieldset+.field-group-fieldset{
    margin-top: 12px;
}
.vuecurd-def-box .field-group-fieldset .legend-box{
    margin-bottom: 8px;
    display: flex;
    align-items:stretch;
    overflow: hidden;
}
.vuecurd-def-box .field-group-fieldset .legend-box:before{
    display: inline-block;
    content: ' ';
    width: 4px;
    background-color: rgb(var(--primary-6));
    border-radius: 6px;
    margin-right: 1px;
}
.vuecurd-def-box .field-group-fieldset legend{
    padding: 6px 0 6px 12px;
    border: none;
    color: #031A79;
    margin: 0;
    background-image: linear-gradient(to right, #E8F3FF , #fff);
    border-radius: 6px;
    border-left: 1px solid #9FD4FD;
    text-shadow: 1px 1px 1px rgba(0,0 ,0 , .08);
}
.vuecurd-show-def-box .field-group-fieldset>.show-group-field-rows>.row{
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    padding: 12px 18px;
}
.vuecurd-show-def-box .field-group-fieldset>.show-group-field-rows:not(.is-grid-box)>.row:nth-child(odd){
    background-color: #fbfbff;
    border-top:1px solid #e9f3ff;
    border-bottom:1px solid #e9f3ff;
}
.vuecurd-show-def-box .field-group-fieldset>.show-group-field-rows.is-grid-box>.row+.row{
    border-top:1px solid #e9f3ff;
}
.vuecurd-show-def-box .field-group-fieldset>.show-group-field-rows>.row>.l{
    padding-right: .5em;
    color: rgba(0,0,0,.85);
    color: #000;
    font-weight: bold;
    letter-spacing: .08em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.08);
}
.vuecurd-show-def-box .field-group-fieldset>.show-group-field-rows>.row>.r{
    color: rgba(0,0,0,.65);
}
.vuecurd-def-box .add-list-field-box-item-icon{
    color: rgb(var(--primary-6));
    cursor: pointer;
}
.remove-list-field-box-item-icon{
    color: #F53F3F;
    cursor: pointer;
}
.vuecurd-def-box .list-field-box-item{
    padding: 18px 18px 6px 18px;
    border-radius: 6px;
    transition: all .5s;
    border: 1px solid var(--color-neutral-3);
}
.vuecurd-def-box .list-field-box-item-form:hover .list-field-box-item{
    box-shadow: 0 4px 10px rgb(var(--gray-2));
}
.vuecurd-def-box .list-field-box-item .arco-form-item{
    margin-bottom: 12px;
}
.vuecurd-def-box .list-field-box-item .arco-form-item-label{
    text-align: left;
}
.vuecurd-def-box .list-field-box-item .arco-form-item-control-wrapper{
    flex: 1;
}

.vuecurd-def-box .list-field-box-item-box{
    position: relative;
}
.vuecurd-def-box .list-field-box-item-box .list-field-box-item-divider{
    display: none;
}
.vuecurd-def-box .list-field-box-item-box+.list-field-box-item-box  .list-field-box-item-divider{
    border-color: #86909c;
    margin: 6px 0 4px 0;
    display: block;
}
.vuecurd-def-box .list-field-box-item-box .list-field-box-remove{
    position: absolute;
    top: 6px;
    right: 6px;
    line-height: 1;
    cursor: pointer;
}
.vuecurd-def-box .list-field-box-item-box+.list-field-box-item-box .list-field-box-remove{
    top: 11px;
}
.remove-list-field-box-item-icon{
    border-radius: 50%;
    transition: all .3s;
}
.remove-list-field-box-item-icon:hover{
    background-color: #F53F3F;
    color: #fff;
    padding: 2px;
    margin-top: -2px;
    margin-right: -2px;
}
.year-month-field-box .arco-input-number+.arco-input{
    cursor:default;
    border-left: 0;
    color: rgba(0,0,0,.65);
}
.year-month-field-box .arco-input-number:not(.arco-input-number-disabled)+.arco-input{
    background-color: #fff;
}
.year-month-field-box .arco-input-number:not(.arco-input-number-disabled):hover+.arco-input{
    border-color: rgb(var(--primary-6));
}
.year-month-field-box .arco-input-number:not(.arco-input-number-disabled):hover+.arco-input+.arco-input-number{
    border-left-color: rgb(var(--primary-6));
}
.year-month-field-box .arco-input-number:first-of-type{
    width: calc(50% - 39px)
}
.year-month-field-box .arco-input-number:first-of-type+.arco-input{
    width: 39px;
}
.year-month-field-box .arco-input-number:last-of-type{
    width: calc(50% - 54px)
}
.year-month-field-box .arco-input-number:last-of-type+.arco-input{
    width: 54px;
}
/***************************************************/
.list-img-field-box{
    max-height: 64px;
    max-width: 72px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all .3s;
}
.list-img-field-box:hover{
    box-shadow: 0px 3px 4px 2px rgb(0 0 0 / 28%);
}
.list-img-field-box .arco-image-img{
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0,0.03);
}
/***************************************************/
.arco-table-container:not(.arco-table-has-fixed-col-left) th.arco-table-checkbox.arco-table-col-fixed-left,.arco-table-container:not(.arco-table-has-fixed-col-left) td.arco-table-checkbox.arco-table-col-fixed-left{
    position:relative;
}
/***************************************************/

/****************************************************************/
.curd-show-field-box .img-box:after{
    content: ' ';
    display: block;
    clear: both;
}
.curd-show-field-box .img-box .img-box-item{
    float: left;
    width: 104px;
    height: 104px;
    margin: 0 8px 8px 0;
    padding: 8px;
    border: 1px solid #e5e6eb;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: border .6s;
}
.curd-show-field-box  .img-box .img-box-item:hover{
    border-color: rgb(var(--primary-6));
}
.curd-show-field-box  .img-box .img-box-item>img{
    display: block;
    width: 100%;
    height: 100%;
    position: static;
    object-fit: cover;
    background-color: rgba(0,0,0,0.02);
    border-radius: 8px;
    overflow: hidden;
}
.vuecurd-def-box .field-group-fieldset .legend-box{
    display: none;
}
.vuecurd-def-box .field-group-fieldset.show-group .legend-box{
    display: flex;
}

.curd-show-field-box .more-string-box{
    padding-left: 20px;
}

.more-string-auto-complete-row{
    display: flex;
}
.more-string-auto-complete-input{
    padding-right: 12px;
    flex: 1;
}
.more-string-auto-complete-rm{
    width: 40px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.more-string-auto-complete-rm:hover{
    background-color: #fff1f0;
}
.more-string-auto-complete-rm:hover .remove-inputs-box-item-icon{
    color: #A1151E;
}
.curd-show-field-box .ext-box{
    display: inline-block;
    padding-left: .5em;
    color: #c9cdd4;
}
.curd-show-field-box .list-field-box{

}
.curd-show-field-box .list-field-item{
    background-image: linear-gradient(to left, #fff, #fcfcff);
    border: 1px solid #c9cdd4;
    border-radius: 6px;
    transition: all .5s;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08)
}
.curd-show-field-box .list-field-item>.list-field-item-row:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.curd-show-field-box .list-field-item>.list-field-item-row:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.curd-show-field-box .list-field-item>.list-field-item-row:nth-child(odd){
    background-image: linear-gradient(to right, #fff, #fcfcff);
}
.field-group-fieldset>.show-group-field-rows>.row:nth-child(odd) .curd-show-field-box .list-field-item{
    background-image: linear-gradient(to left, #fefffa, #fffcf9);
    border: 1px solid #ffe7ba;
    border-radius: 6px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.04)
}
.field-group-fieldset>.show-group-field-rows>.row:nth-child(odd) .curd-show-field-box .list-field-item:hover{
    box-shadow:none;
    border: 1px solid #ffd591;
}
.curd-show-field-box .list-field-item>div{
    padding: 9px 18px;
}
.curd-show-field-box .list-field-item>div+div{
    border-top: 1px solid #d2d7ef;
}
.field-group-fieldset>.show-group-field-rows>.row:nth-child(odd) .curd-show-field-box .list-field-item>div+div{
    border-top: 1px solid #ffe7ba;
}
.curd-show-field-box .list-field-item+.list-field-item{
    margin-top: 24px;
}
.curd-show-field-box .list-field-item-row{
    display: flex;
}
.field-group-fieldset>.show-group-field-rows>.row:nth-child(odd) .curd-show-field-box .list-field-item-row:hover{
    background-color: #fff;
    border-radius: 6px;
}
.curd-show-field-box .list-field-item-row-l{
    padding-right: .5em;
    width: 16.66666667%;
    color: #000;
    font-weight: bold;
    letter-spacing: .08em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.08);
    text-align: right;
}
.curd-show-field-box .list-field-item-row-r{
    flex: 1;
}
/****************************************************************/
/****************************************************************/
.body-iframe-drawer .arco-drawer-wrapper-body{
    display: flex;
    flex-direction: column;
}
.body-iframe-drawer .arco-drawer-wrapper-body .arco-drawer-body{
    flex: 1;
    padding: 0;
}
.body-iframe-drawer .arco-drawer-wrapper-body .arco-drawer-body iframe{
    height: 100%;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
/****************************************************************/
.body-iframe-modal .arco-modal-body iframe{
    box-sizing: border-box;
    display: block;
    width: 100%;
}
/****************************************************************/
.pub-remove-icon{
    color: #F53F3F!important;
    cursor: pointer;
}
.pub-remove-icon:hover{
    color: #F98981!important;;
}
.pub-remove-icon:active{
    color: #A1151E!important;;
}
/****************************************************************/
.curd-table-action-btns .arco-divider-vertical.curd-table-action-divider{
    margin: 0;
}
.arco-table.curd-table .arco-table-cell{
    padding-left: 16px;
    padding-right: 16px;
}
.curd-table .arco-table-cell{
    padding-top: 12px;
    padding-bottom: 12px;
}
.curd-table .arco-table-element>colgroup>col{
    min-width: 84px;
}
/****************************************************************/
#vue-curd-imgs-show-box{
    display: none;
}
.field-box .arco-upload-list-picture img{
    background-color: rgba(0,0,0,0.03);
}
.curd-form-item .arco-form-item-content-wrapper .arco-form-item-content-flex{
    flex-direction:column;
    align-items:stretch;
}
.curd-form-item .field-tips{
    padding-bottom: 1px;
}
.read-only-just-show-text{
    display: inline-block;
}
.edit-padding-top-label{
    padding-top: 5px;
}
/****************************************************************/
.arco-tree-node-minus-icon, .arco-tree-node-plus-icon{
    transition: all .3s;
}
.arco-tree-node-minus-icon:hover, .arco-tree-node-plus-icon:hover{
    background: var(--color-text-4);
}